@model CMRS.Models.Convict

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPag.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Convict</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConvictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConvictAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConvictAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JailTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JailTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrisonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrisonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Action("Details", "Convicts", new { id = Model.Id })" width="50px" height="50px" />

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
